body {
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
label {
	font-weight: normal;
}
td.details-control {
	background: url('../images/details_open.png') no-repeat center center;
	cursor: pointer;
}
.shown td.details-control {
	background: url('../images/details_close.png') no-repeat center center;
}
table.dataTable tfoot td {
	padding: 5px;
	text-align: center;
}
table.dataTable thead th {
	font-weight: normal;
	padding: 8px 18px 8px 10px;
}
.grade {
	font-weight: bold;
}
.grade-green {
	background-color: Green;
}
.grade-yellowgreen {
	background-color: YellowGreen;
}
.grade-lightgreen {
	background-color: LightGreen;
}
.grade-orange {
	background-color: Orange;
}
.grade-gray {
	background-color: Gray;
}
.grade-red {
	background-color: Red;
}
.good {
	color: YellowGreen;
}
.badhighlight {
	background-color: Red;
	color: White;
	font-weight: bold;
}
.center {
	text-align: center;
}
.cell-border thead th, tfoot td {
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.cell-border thead th:first-child, tfoot td:first-child {
	border-left: 1px solid #ddd;
}
.cell-border tfoot td {
	border-bottom: 1px solid #ddd;
}
.strikethrough {
	text-decoration: line-through;
}
.white {
	color: White;
}